---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
  ogImage?: string;
}

const { title, description, ogImage = "/assets/sample/main.jpg" } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const ogImageURL = new URL(ogImage, Astro.site);
---

<html lang="th">
  <head>
    <!-- Title -->
    <title>{title}</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="author" content="nanthapat.com" />
    <link rel="canonical" href={canonicalURL} />

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <!-- Open Graph / Twitter -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImageURL} />
    <meta property="og:url" content={canonicalURL} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImageURL} />

    <!-- Google fonts (https://fonts.google.com/) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Libs and Plugins CSS -->
    <link rel="stylesheet" href="/assets/vendor/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/assets/vendor/fancybox/css/fancybox.css" />
    <link rel="stylesheet" href="/assets/vendor/swiper/css/swiper-bundle.min.css" />

    <!-- Master CSS -->
    <link rel="stylesheet" href="/assets/css/helper.css" />
    <link rel="stylesheet" href="/assets/css/theme.css" />

    <!-- Light style CSS -->
    <link rel="stylesheet" href="/assets/css/theme-light.css" />
  </head>

  <body id="body" lang="th" class="tt-transition tt-noise tt-magic-cursor tt-smooth-scroll">
    <main id="body-inner">
      <!-- Begin page transition (do not remove!!!) -->
      <div id="tt-page-transition">
        <div class="tt-ptr-overlay-top tt-noise"></div>
        <div class="tt-ptr-overlay-bottom tt-noise"></div>
        <div class="tt-ptr-preloader">
          <div class="tt-ptr-prel-content">
            <img src="/assets/img/logo-white.png" class="tt-ptr-prel-image" alt="Logo" />
          </div>
        </div>
      </div>
      <!-- End page transition -->

      <!-- Begin magic cursor -->
      <div id="magic-cursor">
        <div id="ball"></div>
      </div>
      <!-- End magic cursor -->

      <Header />

      <div id="tt-content-wrap">
        <slot />

        <Footer />

        <!-- Begin scroll to top button -->
        <a href="#" class="tt-scroll-to-top">
          <div class="tt-stt-progress tt-magnetic-item">
            <svg class="tt-stt-progress-circle" width="100%" height="100%" viewBox="-1 -1 102 102">
              <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
            </svg>
          </div>
        </a>
        <!-- End scroll to top button -->
      </div>
      <!-- End content wrap -->
    </main>
    <!-- End body inner -->

    <!-- Core JS -->
    <script is:inline src="/assets/vendor/jquery/jquery.min.js"></script>

    <!-- Libs and Plugins JS -->
    <script is:inline src="/assets/vendor/gsap/gsap.min.js"></script>
    <script is:inline src="/assets/vendor/gsap/ScrollToPlugin.min.js"></script>
    <script is:inline src="/assets/vendor/gsap/ScrollTrigger.min.js"></script>
    <script is:inline src="/assets/vendor/lenis.min.js"></script>
    <script is:inline src="/assets/vendor/isotope/imagesloaded.pkgd.min.js"></script>
    <script is:inline src="/assets/vendor/isotope/isotope.pkgd.min.js"></script>
    <script is:inline src="/assets/vendor/isotope/packery-mode.pkgd.min.js"></script>
    <script is:inline src="/assets/vendor/fancybox/js/fancybox.umd.js"></script>
    <script is:inline src="/assets/vendor/swiper/js/swiper-bundle.min.js"></script>

    <!-- Master JS -->
    <script is:inline src="/assets/js/theme.js"></script>

    <!-- Netlify Identity: lets CMS invite/recovery links (which land here, not on /admin/) open the login widget and redirect into the CMS -->
    <script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script is:inline>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
